.backdrop {
  position: fixed;
  visibility: visible;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: getBgColor(backdrop);
  opacity: 1;
  z-index: 1;

  @include dual-transition(opacity, visibility);

  &--hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    @include dual-transition(opacity, visibility);
  }

  &--hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
}
