// .clients {
//   @include vertical-padding();

//   &__set {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: getSize(grid-gap);
//   }

//   &__card {
//     flex-basis: calc(100% - 5 * getSize(grid-gap) / 6);
//   }

//   &__link {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 92px;
//     color: getColor(basic-icon);
//     border: 1px solid getColor(basic-icon);
//     border-radius: 4px;
//     fill: currentColor;

//     @include dual-transition(color, border-color);
//   }

//   &__link:hover,
//   &__link:focus {
//     color: getColor(accent);
//     border-color: getColor(accent);
//   }
//   &__link:focus-visible {
//     outline: none;
//   }
// }

.clients {
  &__set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: getSize(grid-gap);
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    color: getColor(basic-icon);
    border: 1px solid getColor(basic-icon);
    border-radius: 4px;
    fill: currentColor;

    @include dual-transition(color, border-color);
  }

  &__link:hover,
  &__link:focus {
    color: getColor(accent);
    border-color: getColor(accent);
  }

  @include respond-to(max-mobile) {
    &__card {
      flex-basis: calc((100% - getSize(grid-gap)) / 2);
    }
  }

  @include respond-to(tablet) {
    &__card {
      flex-basis: calc((100% - 2 * getSize(grid-gap)) / 3);
    }
  }

  @include respond-to(desktop) {
    &__set {
      flex-wrap: nowrap;
    }

    &__card {
      flex-basis: calc(100% - 5 * getSize(grid-gap) / 6);
    }
  }

  //   &__link:focus-visible {
  //     outline: none;
  //   }
}
