.contacts {
  &__link {
    color: inherit;
  }

  @include respond-to(max-mobile) {
    &__tel-icon {
      display: none;
    }

    &__mail-icon {
      display: none;
    }

    &__item:first-child {
      font-size: 34px;
      line-height: 1.77;
      margin-bottom: 32px;
      color: getColor(accent);
    }

    &__item:last-child {
      font-size: 24px;
      line-height: 1.17;
      color: getColor(basic);
    }

    &--separated {
      margin-bottom: 64px;
    }
  }

  @include respond-to(tablet) {
    display: flex;
    fill: currentColor;

    &__link {
      display: flex;
      align-items: center;
      gap: 10px;

      color: getColor(basic);
      @include base-transition(color);

      &:focus,
      &:hover {
        color: getColor(accent);
      }
    }
  }

  @include respond-to(only-tablet) {
    font-size: 12px;
    line-height: 0.86;
    flex-direction: column-reverse;
    row-gap: 12px;

    &__tel-icon {
      width: 10px;
      height: 14px;
    }

    &__mail-icon {
      width: 14px;
      height: 10px;
    }
  }

  @include respond-to(desktop) {
    gap: 40px;
    flex-direction: row-reverse;

    &__item {
      @include vertical-padding(32px, 32px);
    }

    &__tel-icon {
      width: 10px;
      height: 16px;
    }

    &__mail-icon {
      width: 16px;
      height: 12px;
    }
  }
}
