// .contacts {
//   display: flex;
//   fill: currentColor;
//   gap: 50px;

//   &--append {
//     margin-left: auto;
//   }

//   &__item {
//     display: flex;
//     align-items: center;
//     gap: 10px;

//     color: getColor(basic);
//   }
// }

.contacts {
  font-weight: 500;
  letter-spacing: 0.02em;

  @include respond-to(max-mobile) {
    &__icon {
      display: none;
    }

    &__item {
      color: getColor(basic);
    }

    &__item:first-child {
      font-size: 34px;
      line-height: 40px;
      margin-bottom: 32px;
      color: getColor(accent);
    }

    &__item:last-child {
      font-size: 24px;
      line-height: 28px;
      color: getColor(form);
    }

    &--separated {
      margin-bottom: 64px;
    }
  }
}
