.contacts {
  display: flex;
  fill: currentColor;
  gap: 50px;

  &--append {
    margin-left: auto;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;

    color: getColor(basic);
  }
}
