.features {
  &__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: getBgColor(light);
    border-radius: 4px;
    margin-bottom: getSize(grid-gap);
  }

  &__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: getColor(basic);
  }

  @include respond-to(mobile) {
    &__item {
      width: 100%;
    }

    &__item:not(:last-child) {
      margin-bottom: getSize(grid-gap);
    }
  }

  @include respond-to(tablet) {
    &__set {
      display: flex;
      flex-wrap: wrap;
      gap: getSize(grid-gap);
    }

    &__item {
      flex-basis: calc((100% - getSize(grid-gap)) / 2);
    }

    &__item:not(:last-child) {
      margin-bottom: 0;
    }

    &__title {
      text-align: left;
    }
  }

  @include respond-to(only-tablet) {
    &__set {
      flex-wrap: wrap;
    }
  }

  @include respond-to(desktop) {
    &__item {
      flex-basis: calc((100% - 3 * getSize(grid-gap)) / 4);
    }
  }
}
