.form {
  &__field {
    position: relative;
    fill: getColor(primary-black);
    @include base-transition(fill);
  }

  &__input {
    display: block;

    font: inherit;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    width: 100%;
    margin: 0;
    padding: 11px 12px 11px 42px;
    cursor: pointer;

    border: 1px solid getBorderColor(form);
    border-radius: 4px;
    margin-bottom: 10px;

    @include base-transition(border-color);
  }

  &__input:focus-visible {
    outline: none;
  }

  &__label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: getColor(basic);
    margin-bottom: 4px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    cursor: pointer;
  }

  &__textarea {
    display: block;
    width: 100%;
    height: 120px;
    margin: 0;
    padding: 12px 16px;

    font: inherit;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    resize: none;
    cursor: pointer;

    border: 1px solid getBorderColor(form);
    border-radius: 4px;
    margin-bottom: 20px;

    @include base-transition(border-color);
  }

  &__textarea:focus-visible {
    outline: none;
  }

  &__textarea::placeholder {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: getColor(placeholder);
  }

  &__agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: getColor(basic);
    margin-bottom: 30px;
  }

  &__agree-link {
    color: getColor(accent);
  }

  &__field:hover,
  &__field:hover &__input,
  &__input:focus,
  &__input:focus + &__icon,
  &__textarea:hover,
  &__textarea:focus {
    @extend %form-focus;
  }
}
