.header {
  border-bottom: 1px solid getBorderColor(header);
  &__container {
    @extend %container;

    display: flex;
    align-items: center;
  }

  &__link {
    @extend %link-active;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    @include vertical-padding(32px, 32px);
  }
}
