// .logo {
//   font-family: getFont(secondary);
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.2;
//   letter-spacing: 0.03em;

//   &--prepend {
//     margin-right: 93px;
//   }

//   &--separated {
//     margin-bottom: 20px;
//   }

//   &__accent {
//     @extend %accent;
//   }
// }

// .footer__logo {
//   color: getColor(primary-white);
// }

.logo {
  font-family: getFont(secondary);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  &__accent {
    @extend %accent;
  }

  &--separated {
    margin-bottom: 28px;
  }
}

.footer__logo {
  color: getColor(primary-white);
}
