.menu {
  position: absolute;
  height: 796px;
  width: 100%;
  background-color: getColor(primary-white);
  padding: 48px 40px 48px;
  right: 0;
  top: 0;
  transform: scale(1);
  @include burger(right, top, transform);
}
