.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 581px;
  width: 528px;
  background-color: getColor(primary-white);
  box-shadow: getShadow(modal);
  border-radius: 4px;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  @include base-transition(transform);

  &__title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor(primary-black);
    margin-bottom: 12px;
  }
}
