// .modal {
//   position: absolute;
//   top: 50%;
//   left: 50%;

//   height: 581px;
//   width: 528px;
//   background-color: getColor(primary-white);
//   box-shadow: getShadow(modal);
//   border-radius: 4px;
//   padding: 40px;

//   transform: translate(-50%, -50%) scale(1);
//   @include base-transition(transform);

//   &__title {
//     display: block;
//     font-weight: 700;
//     font-size: 20px;
//     line-height: 23px;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: getColor(primary-black);
//     margin-bottom: 12px;
//   }
// }

.modal {
  position: absolute;
  height: 796px;
  width: 100%;
  background-color: getColor(primary-white);
  padding: 48px 40px 48px;
  right: 0;
  top: 0;
  transform: scale(1);
  // @include base-transition(right);
  // @include dual-transition(right, top);
  @include burger(right, top, transform);
  // transform: translateX(-100%);
}

//     transform: translateY(0);
//     @include base-transition(transform);
