.nav-button {
  fill: getColor(primary-black);
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
  background-color: getColor(primary-white);
  border: none;
  @include vertical-padding(10px, 10px);
  @include base-transition(fill);

  &:hover,
  &:focus {
    fill: getColor(accent);
  }

  &--append {
    margin-left: auto;
  }
}
