.team {
  background-color: getBgColor(light);

  @include respond-to(tablet) {
    &__set {
      display: flex;
      flex-wrap: wrap;
      gap: getSize(grid-gap);
    }
  }

  @include respond-to(desktop) {
    &__set {
      flex-wrap: nowrap;
    }
  }
}

.teammate {
  text-align: center;
  background-color: getColor(primary-white);
  box-shadow: getShadow(team-card);
  border-radius: 0px 0px 4px 4px;

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  &__position {
    font-size: 16px;
    line-height: 1.19;
    color: getColor(basic);
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }

  &__info {
    @include vertical-padding(30px, 24px);
  }

  @include respond-to(max-mobile) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include respond-to(tablet) {
    flex-basis: calc((100% - getSize(grid-gap)) / 2);
  }

  @include respond-to(desktop) {
    flex-basis: calc((100% - 3 * getSize(grid-gap)) / 4);

    &__info {
      @include vertical-padding(30px, 30px);
    }
  }
}
