// .container {
//   width: getSize(contain-width);
// padding-left: getSize(contain-padding);
// padding-right: getSize(contain-padding);

// margin: 0 auto;
// }

.container {
  padding-left: getSize(contain-padding);
  padding-right: getSize(contain-padding);
  margin: 0 auto;
  @include respond-to(mobile) {
    width: getSize(mobile-width);
  }

  @include respond-to(tablet) {
    width: getSize(tablet-width);
  }

  @include respond-to(desktop) {
    width: getSize(desktop-width);
  }
}

.portfolio__container {
  @include vertical-padding(60px, 60px);

  @include respond-to(desktop) {
    @include vertical-padding();
  }
}
