@mixin respond-to($breakpoint) {
  @if $breakpoint == 'mobile' {
    @media screen and #{inspect(getPoint(mobile))} {
      @content;
    }
  }

  @if $breakpoint == 'max-mobile' {
    @media screen and #{inspect(getPoint(max-mobile))} {
      @content;
    }
  }

  @if $breakpoint == 'tablet' {
    @media screen and #{inspect(getPoint(tablet))} {
      @content;
    }
  }

  @if $breakpoint == 'only-tablet' {
    @media #{inspect(getPoint(tablet))} and #{inspect(getPoint(max-tablet))} {
      @content;
    }
  }

  @if $breakpoint == 'max-tablet' {
    @media screen and #{inspect(getPoint(max-tablet))} {
      @content;
    }
  }

  @if $breakpoint == 'desktop' {
    @media screen and #{inspect(getPoint(desktop))} {
      @content;
    }
  }

  @if $breakpoint == 'retina' {
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      @content;
    }
  }
}

// ====================

@mixin vertical-padding($top: 94px, $bottom: 94px) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin base-transition($property) {
  transition: $property getAnim(time) getAnim(func);
}

@mixin dual-transition($a-property, $b-property) {
  transition: $a-property getAnim(time) getAnim(func), $b-property getAnim(time) getAnim(func);
}

// crash of my genious idea xD
@mixin triple-transition($a-property, $b-property, $c-property) {
  transition: $a-property getAnim(time) getAnim(func), $b-property getAnim(time) getAnim(func),
    $c-property getAnim(time) getAnim(func);
}

@mixin burger($a-property, $b-property, $c-property) {
  transition: $a-property 350ms getAnim(func), $b-property 350ms getAnim(func),
    $c-property 300ms getAnim(func);
}

// ======================================
