// .container {
//   width: getSize(contain-width);
// padding-left: getSize(contain-padding);
// padding-right: getSize(contain-padding);

// margin: 0 auto;
// }

.container {
  padding-left: getSize(contain-padding);
  padding-right: getSize(contain-padding);
  margin: 0 auto;
  // !!!to do responsible mobile!!!
  @include respond-to('mobile') {
    width: getSize(mobile-width);
  }

  @include respond-to('tablet') {
    width: getSize(tablet-width);
  }

  @include respond-to('desktop') {
    width: getSize(desktop-width);
  }
}
